# Environments
.env
.venv
env/
venv/
ENV/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test  reports
.pytest_cache/
.cache

# Data files
*.csv
*.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore log files and temporary files
*.log
*.tmp

# Ignore duckdb
duckdb

# ignore 
.vscode 



